<div class="grid-x">
  <div class="cell small-10 small-offset-1">
    <div class="callout tile">
      <h1 class="text-center">Search Results</h1>
      <br />
      <% if @users.empty? %>
        <p>No results found.</p>
      <% else %>
      <p><%= "#{@users.count} result(s) found." %></p>
      <ul class="unstyled">
        <% @users.each do |user| %>
          <li>
            <a href="/users/<%=user.id%>"> <%=user.first_name + " " + user.last_name%> </a>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
