/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body {
   background-color: #f7f7f7;
 }

 nav.top-bar{
   background-color: #3b5998;
   color: #E41B3B;
   font-weight: bold;
   height: 70px;
   font-size: 20px;
 }

 .top-bar-section ul li {
   background-color: #3b5998;
   color: #E41B3B;
   font-weight: bold;
 }
 .top-bar-section ul li > a{

   font-family: Helvetica;
   font-size: 20px;
 }
 .menu a {
   background-color: #3b5998;
   color: #E41B3B;
   font-weight: bold;
 }

 .top-bar-section li:not(.has-form) a:not(.button) {
     background-color: #3b5998;
 }

 .top-bar-section{
   background-color: #3b5998;
   color: #E41B3B;
 }

 .top-bar .name h1 a{
   padding-top: 10px;
   font-size: 40px;
 }

 .top-bar-section li:not(.has-form) a:not(.button):hover {
     background-color: #3b5998;
     background-color: #3b5998;
 }

 .top-bar-section li:not(.has-form) a:not(.button) {
   padding-top: 15px;
   height: 70px;
 }

 .top-bar input, .top-bar select, .top-bar .button, .top-bar button {
     font-size: 1.0rem;
     height: 40px;
     position: relative;
     top: 0.53125rem;
     width: 200px;
     padding-top: 6px;
     padding-bottom: 0px;
     margin-top: 7px;
     font-family: Helvetica;
 }
