.post-form{
  margin-top: 15px;
  border: 3px solid #3b5998;
  background-color: #dfe3ee;
  border-radius: 25px;
  font-family: Helvetica;
}
input.post-text-box{
  margin-top: 10px;
  border-radius: 25px;
  margin-left:10px;
  margin-right:10px;
  width: 98%;
  font-family: Helvetica;
}
.file-zone{
  border: 1px dotted gray;
}

.post-button{
  margin-left: 20px;
  background-color: #3b5998;
  font-family: Helvetica;
}
